@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    color: white;
    margin:  0px 50px;
    padding: 10px;
}
section{
    min-height: 100vh;

}
nav{
    display: flex;
    justify-content: space-between;
    margin:  20px 0;
    padding: 10px;
}
.nav-logo{
    padding-left: 10px;
}
nav a{
    color: white;
    text-decoration: none;
   /* border: 1px solid red;    */
    padding-left: 10px;
   font-weight: 500;
   font-size: 20px;
   
}
nav a:hover{
    color: red;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(230, 93, 29);
    
}
.main-image img{
    position: relative;
    
    width: 500px;
    border-radius: 30px;
    padding: 20px ;
    padding-top:80px;
}
.home{
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 50px;
}
.home_h h1{
    font-size: 32px;
}
.home_h{
    padding-top: 100px;
}
.home_h p{
    font-size:20px;
}
.about_us{
    border: none;
    
}
.about_us h1{
    text-align: center;
    padding: 10px;

}
.about_d{
    display: flex;
    justify-content: space-between;
    padding: 30px;

} 
.about_d div p{
    font-size: 24px;
    padding-top: 50px;
    
}
.about_d div img{
    height: 400px;
    width: 500px;
    position: relative;
    padding-left: 20px;
    padding-top: 50px;
    border-radius: 30px;
}
.about_d div ul li{
    font-size: 20px;
    line-height: 300%;
}
.services{
    text-align: center;
    
    margin-top: 10px;
    padding: 10px;
    
}
.services h2{
    padding: 10px;
    margin-bottom: 50px;
}
.services_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
}
.services_container .services_box{
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
}
.services_box img{
    height: 250px;
    width: 300px;
    border-radius: 15px;
}
.services_box .services_layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0;
    transform: translateY(100%);
    transition: .5s ease;

}
.services_box:hover .services_layer{
    transform: translateY(0);
}
.services_layer a {
    color: cyan;
    font-size: 15px;
}
.services_layer H3{
    color: blue;
}

.contact_us{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
.contact_us form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    border: 1px solid white;
    padding: 20px;
}

.contact_us form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact_us form .input-box input,
.contact_us form textarea{
    width: 100%;
    padding:1.5rem;
    font-size: 1.6rem;
    color: red;
    background: white;
    border-radius: .8rem;
    margin: .7rem 0;

}

.contact_us form .input-box input{
    width: 49%;
}

.contact_us form textarea{
    resize: none;
}

.contact_us form .btn{
    margin-top: 2rem;
    cursor: pointer;
    padding: 20px;
}

.separation{
    border-top: 1px solid white;

}
.social{
    padding: 10px ;

}
.social a i{
    font-size: 32px;
    color: white;
}
.social a:hover i{
    color: blue;
}

/* Media Query for Responsiveness */
@media (max-width: 375px){
    .main-image img{
        width: 90vw;
    }

    .about_d div img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}
@media (max-width: 425px){
    html{
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}
@media (max-width: 768px) and (min-width: 425px){
    .about_d  div img {
        width: 40vw;
    }
    .about_d div ul li{
        font-size: 16px;
        line-height: 150%;
    }
    .about_d div p{
        font-size: 18px;
    }
    .home_h h1{
        font-size: 32px;
    }
    
    .home_h p{
        font-size:18px;
    }
    .main-image img{       
        width: 40vw;
        margin-top: 100px;
    }

}
@media (max-width: 425px) and (min-width: 375px){
    .home{
        flex-direction: column-reverse;
    }
    .about_d{
        flex-direction: column-reverse;
    }
    .main-image img{
        width: 90vw;
        margin-right: 40px;
        
    }
    .home_h h3{
        font-size: 16px;
    }
    .home_h p{
        font-size: 13px
    }
    .about_us h1{
        font-size: 20px;
    }
    .about_d div img{
        width: 80vw;
    }
    .about_d div h2{
        font-size: 16px;
    }
    .nav-logo{
        padding-left: 30px;
        font-size: 20px;
    }
    .nav-links{
        display:hidden;
    }
}
